<div style="margin: 15px;"> <a (click)="navigateBack()"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back to Review</a></div>

<div id="accordion">
  <div class="row">
    <div class="col-md-6">
      <div class="card-header" id="headingOne">
        <h5 >
          <button (click)="toggleDetail()" class="btn btn-link " data-toggle="collapse" data-target="#collapseOne0" aria-controls="collapseOne0">
          Details for Review <span class="hide">{{detailName}}</span>
        </button>
        </h5>
      </div>

      <div id="collapseOne0" class="collapse show " aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <ul class="list-unstyled" >

          <!-- <ul class="list-unstyled" *ngFor="let reviewDetail of reviewDetails"> -->
            <!-- <li>Supplier: <strong>{{reviewDetail.supplier}}</strong></li>
            <li>Part Name: <strong>{{reviewDetail.partName}} </strong></li>
            <li>Part Number: <strong>{{reviewDetail.partNumber}}</strong></li>
            <li>Serial Number: <strong>{{reviewDetail.serialNumber}}</strong></li>
            <li>Lot Number: <strong>{{reviewDetail.lotNumber}}</strong></li>
            <li>Mission: <strong>{{reviewDetail.mission}}</strong></li>
            <li>Status: <strong> {{reviewDetail.status}} </strong></li>
            <li>Due Date <strong>{{reviewDetail.dueDate}}</strong></li> -->
          
            <li>Supplier: <strong>L3 Comm -OCU</strong></li>
            <li>Part Name: <strong>Assembly, ordnance control unit </strong></li>
            <li>Part Number: <strong>1F67700-1</strong></li>
            <li>Serial Number: <strong>0034</strong></li>
            <li>Lot Number: <strong></strong></li>
            <li>Mission: <strong></strong></li>
            <li>Status: <strong>Ready</strong></li>
            <li>Due Date <strong>June 25, 2018</strong></li>

          </ul>
                  <button class="btn btn-primary" (click)="responseModal(templateFour)">Support Staff</button>
                  <button class="btn btn-primary btn-sml pull-right" (click)="closeReviewModal(templateFive)">Close Review</button>


        </div>
      </div>
    </div>
    <div class="col-md-6" id="accordionTwo">
      <div class="card-header" id="headingTwo">
        <h5 >
          <button (click)="toggle()" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-controls="collapseTwo">
          Participants  <span class="hide">{{userName}}</span>
        </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionTwo">
        <div class="card-body">
          <app-users></app-users>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="contianer-fluid card">
  <table class="table ">
    <thead>
      <tr>
        <th class="pointer">
          <p (click)="sort('documentName')">
              Document Name
            <i class="fa" [ngClass]="{'fa-sort': column != 'CategoryName', 'fa-sort-asc': (column == 'CategoryName' && isDesc), 'fa-sort-desc': (column == 'CategoryName' && !isDesc) }"
              aria-hidden="true"> </i> </p>
        </th>
        <th class="pointer">
          <p (click)="sort('documentType')">
             Document Type
            <i class="fa" [ngClass]="{'fa-sort': column != 'CategoryName', 'fa-sort-asc': (column == 'CategoryName' && isDesc), 'fa-sort-desc': (column == 'CategoryName' && !isDesc) }"
              aria-hidden="true"> </i> </p>
        </th>
        <th class="pointer">
          <p (click)="sort('assignTo')">
             Assigned To
            <i class="fa" [ngClass]="{'fa-sort': column != 'CategoryName', 'fa-sort-asc': (column == 'CategoryName' && isDesc), 'fa-sort-desc': (column == 'CategoryName' && !isDesc) }"
              aria-hidden="true"> </i> </p>
        </th>
        <th class="pointer">
          <p (click)="sort('reviewedBy')">
             Reviewed By
            <i class="fa" [ngClass]="{'fa-sort': column != 'CategoryName', 'fa-sort-asc': (column == 'CategoryName' && isDesc), 'fa-sort-desc': (column == 'CategoryName' && !isDesc) }"
              aria-hidden="true"> </i> </p>
        </th>
        <th class="pointer">
          <p (click)="sort('reviewedDate')">
             Reviewed Date
            <i class="fa" [ngClass]="{'fa-sort': column != 'CategoryName', 'fa-sort-asc': (column == 'CategoryName' && isDesc), 'fa-sort-desc': (column == 'CategoryName' && !isDesc) }"
              aria-hidden="true"> </i> </p>
        </th>
        <td>
          <a ngclick="sortType = 'source'; sortReverse = !sortReverse">
            Reviewed
            <!-- <span ng-show="sortType == 'source' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'source' && sortReverse" class="fa fa-caret-up"></span> -->
          </a>
        </td>
        <td>
          <a ngclick="sortType = 'source'; sortReverse = !sortReverse">
            WB Issues

          </a>
        </td>
        <td>
          <a ngclick="sortType = 'source'; sortReverse = !sortReverse">
            Comments
          </a>
        </td>
      </tr>
    </thead>

    <tbody>      
      <tr *ngFor="let review of reviews | orderBy: {property: column, direction: direction}">
        <!-- <td>{{review.id}}</td> -->
        <td class="links"><a href="">{{review.documentName}}</a> </td>
        <td>{{review.documentType}}</td>
        <td>{{review.assignTo}}</td>
        <td>{{review.reviewedBy}} </td>
        <td>{{review.reviewedDate}}</td>
        <td>
          <div class="form-group" *ngIf="review.reviewed == null">
            <!-- <button class=" btn btn-sml btn-primary" type="button" (click)="openModal(template, review)">Complete</button> -->
            <input  type="checkbox" (click)="openModal(template, review)"> Complete
          </div>
          <div class="form-group" *ngIf="review.reviewed == true">
              <input [checked]="reviewed" type="checkbox"> Complete
            <!-- <button class=" btn btn-sml btn-primary" type="button" >undo</button> -->
          </div>
        </td>
        <td>{{review.numberOfIssues}} <button type="button" class="btn btn-primary" (click)="showModal(templateTwo)">Add</button>
        </td>
        <td class="display-inline">
          <button class=" btn btn-sml btn-primary" type="button" (click)="openModal(template, review)">Add</button>
          <button type="button" class="btn btn-sml btn-success" data-toggle="modal" data-target="#bootstrapModel">View</button>
        </td>
      </tr>
      <tr>
        <td>
          <div id="accordion" role="tablist" aria-multiselectable="true">
            <div role="tab" id="headingOne">
              <p>
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" target="_self" aria-controls="collapseOne">
                    <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
									</a> UAH9733
              </p>
            </div>
            <div id="collapseOne" class="collapse " role="tabpanel" aria-labelledby="headingOne">
              <div class="card-block">
                <ul class="list-unstyled" >
                  <li>
                    <div class="row">
                      <div class="col-md-11">
                          <a href="#">4865_OCU_CMS_1F67740_CONFORMAL_COAT_BOTT.JPG</a> 
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="row">
                      <div class="col-md-11">
                        <a href="#">PIRS UAH9733.pdf</a>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="row">
                      <div class="col-md-11">
                        <a href="#">UAH9733_FERRITE_BEAD_STAKING_QUAL_TEST.PPT</a>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="row">
                      <div class="col-md-11">
                        <a href="#">UAH9733.pdf</a>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </td>
        <td>ADP</td>
        <td>
          <p>Mark Wilson</p>
        </td>
        <td>Darlene Cahoon</td>
        <td>2018-05-12 </td>
        <td>
          <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description"> <input [checked]="reviewed" type="checkbox">Complete </span>
          </label>
        </td>
        <td>
          <button type="button"  class="btn btn-primary" >Add</button>
        </td>
        <td class="display-inline">
          <button class=" btn btn-sml btn-primary" type="button" (click)="openModal(template, review)">Add</button>
          <button type="button"  class="btn btn-success" >View</button>
        </td>
      </tr>
      <tr>
        <td>
          <div id="accordionOne" role="tablist" aria-multiselectable="true">
            <div role="tab" id="headingOne">
              <p >
                <a data-toggle="collapse" data-parent="#accordionOne" href="#collapseOne2" target="_self" aria-controls="collapseOne">
                      <i class="fa fa-plus fa-2x" aria-hidden="true"></i> </a> ULA_Proprietary_OCU_SN_0034_ADP_Vol_2
              </p>
            </div>
            <div id="collapseOne2" class="collapse " role="tabpanel" aria-labelledby="headingOne">
              <div class="card-block">
                <div role="tab" id="headingOne">
                  <p >
                    <a data-toggle="collapse" data-parent="#accordionOne" href="#collapseOne3" target="_self" aria-controls="collapseOne">
                          <i class="fa fa-plus fa-2x" aria-hidden="true"></i> </a> 07_Top_Level_Data
                  </p>
                </div>
                <div id="collapseOne3" class="collapse " role="tabpanel" aria-labelledby="headingOne">
                  <div class="card-block">
                    <div role="tab" id="headingOne">
                      <p >
                        <a data-toggle="collapse" data-parent="#accordionOne" href="#collapseOne4" target="_self" aria-controls="collapseOne">
                              <i class="fa fa-plus fa-2x" aria-hidden="true"></i> </a> 01_Traceability
                      </p>
                    </div>
                    <div id="collapseOne4" class="collapse " role="tabpanel" aria-labelledby="headingOne">
                      <div class="card-block">
                        <div role="tab" id="headingOne">
                          <p >
                            <a data-toggle="collapse" data-parent="#accordionOne" href="#collapseOne5" target="_self" aria-controls="collapseOne">
                                  <i class="fa fa-plus fa-2x" aria-hidden="true"></i></a> 1F67700-1
                          </p>
                        </div>
                        <div id="collapseOne5" class="collapse " role="tabpanel" aria-labelledby="headingOne">
                          <div class="card-block">
                            <form method="get" action="assets/ULA_Proprietary_OCU_SN_0034_ADP_Vol_2/07_Top_Level_Data/01_Traceability/1F67700-1/1F67700-1 SN 0034.xlsx">
                              <button style="padding: 0; border: none;" type="submit"><i class="fa fa-th fa-2x" style="color: green" aria-hidden="true"></i> </button>                              1F67700-1 SN 0034.xlsx
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div role="tab" id="headingOne">
                      <p >
                        <a data-toggle="collapse" data-parent="#accordionOne" href="#collapseOne4a" target="_self" aria-controls="collapseOne">
                              <i class="fa fa-plus fa-2x" aria-hidden="true"></i></a> 02_Photographs
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </td>
        <td>ADP</td>
        <td>
          <p>Ed Wong</p>
        </td>
        <td>John Adams</td>
        <td>2018-05-15</td>
        <td>
          <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description"> <input [checked]="reviewed" type="checkbox">Complete </span>
          </label>
        </td>
        <td>
          
          <button type="button" class="btn btn-primary">Add</button>
        </td>
        <td class="display-inline">
          <button class=" btn btn-sml btn-primary" type="button" (click)="openModal(template, review)">Add</button>
          <button type="button" class="btn btn-success">View</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div>
  </div>
</div>

<div class="card"> 
  <h1>White Board Issues</h1>
  <table class="table padding">
    <thead>
      <tr>
        <th>Initiator</th>
        <th>Document </th>
        <th>Issue</th>
        <th>Action</th>
        <th>Assign To</th>
        <th>Status</th>
        <th>Response</th>
        <th>Open Date</th>
        <td>RID Issue</td>
        <th>Closed Date</th>
      </tr>
    </thead>
    
    <tbody>
      <!-- <tr *ngIf="Whiteboards.length === 0">
        <h4> There are currently no issues to report</h4>
      </tr> -->
      <tr *ngFor="let Whiteboard of Whiteboards">
        <td>{{Whiteboard.initiator}}</td>
        <td>{{Whiteboard.document}}</td>
        <td>{{Whiteboard.issues}}</td>
        <td>{{Whiteboard.action}}</td>
        <td>{{Whiteboard.assignToo}}</td>
        <td>
          <select class="form-control">
            <option>Open</option>
            <option>Closed</option>
          </select>
        </td>
        <td><button class="btn btn-primary" (click)="responseModal(templateThree)">Respond</button></td>
        {{Whiteboard.response}}
        <td>{{Whiteboard.openDate}}</td>
        <td>{{Whiteboard.ridIssue}}<button class="btn btn-danger">Add Issue</button></td>
        <td><button class="btn btn-danger">Close</button></td>

      </tr>
    </tbody>
    
  </table>
</div>


<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form class="form-inline" #form="ngForm" (ngSubmit)="editReview()">
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <p>Are you sure you have reviewed this document?</p>
          <br>
          <label>Comments Optional</label>
          <textarea class="form-control mr-2" type="text" name="comments" [(ngModel)]="review.comments" placeholder="Add Comment" step="any"
            min="0" ></textarea>
            <br>
            <button class="btn  btn-primary mr-2" type="submit" (click)="modalRef.hide()" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Save</button>
        </div>
      </div>
    </div>
  </form>
    <div class="modal-footer">
      <button class="btn btn-sm btn-warning" (click)="modalRef.hide()"><i class="fa fa-times"></i> Close</button>
    </div>
</ng-template>

<ng-template #templateTwo>
  <div class="modal-header">
    <h4 class="modal-title "></h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">Close</span>
    </button>
  </div>
    <form class="form-inline" [formGroup]="addWhiteboardForm" (ngSubmit)="saveWhiteboard()">
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12 spacing">
          <!-- <select class="form-control" type="text" name="document" formControlName="document">
              <option disabled selected value="">-- Select an document</option>
                 <option> document</option>

            </select> -->
            <select class="form-control" type="text" name="issues" formControlName="issues">
              <option disabled selected value="">-- Select an Issue</option>
                 <option> Clarification</option>
                 <option> Mission Assurance Concern</option>
                 <option> Other</option>
            </select>
            <textarea class="form-control" type="text" name="action" formControlName="action" placeholder="Action"></textarea>
            <select class="form-control" type="text" name="assignToo" formControlName="assignToo">
              <option disabled selected value> -- Select an Name -- </option>              
              <option>Patricia Marchbanks</option>
              <option>Mark Early</option>
            </select>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-sm btn-primary mr-2" (click)="modalRef.hide()" type="submit">Save</button>
    </div>
    </form>

</ng-template>

<ng-template #templateThree>
  <div class="modal-header">
    <h4 class="modal-title "></h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">Close</span>
    </button>
  </div>
  <form class="form-inline" #form="ngForm" (ngSubmit)="editWhiteboard()">
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <label>Response</label>
          <textarea class="form-control mr-2" type="text" name="response" [(ngModel)]="Whiteboard.response" placeholder="Add Response" step="any"
            min="0"></textarea>
          <br>
          <button class="btn  btn-primary mr-2" type="submit" (click)="modalRef.hide()" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Save</button>
        </div>
      </div>
    </div>
  </form>
    <div class="modal-footer">
      <button class="btn btn-sm btn-primary mr-2" (click)="modalRef.hide()" type="submit">Save</button>
    </div>
  

</ng-template>
<ng-template #templateFour>
  <div class="modal-header">
    <h4 class="modal-title "></h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">Close</span>
    </button>
  </div>
    <div class="modal-body">
      <div class="row">
        <app-user-support></app-user-support>
      </div>
    </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-primary mr-2" (click)="modalRef.hide()" type="submit">Save</button>
  </div>


</ng-template>

<ng-template #templateFive>
  <div class="modal-header">
    <h4 class="modal-title "></h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">Close</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <p>Are you sure you would like to close this review?</p>
      <textarea class="form-control mr-2" type="text" placeholder="Add Comment"
        step="any" min="0"></textarea>
      <button class="btn btn-primary btn-lrg pull-right" disabled (click)="closeReview()">Save</button>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-primary mr-2" (click)="modalRef.hide()" type="submit">Close</button>
  </div>


</ng-template>




<!-- Modal section -->
<div id="bootstrapModel" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">Close </button>
      </div>
      <!-- model body section -->
      <div class="modal-body">
        <div class="row">
          <div class="col-md-8" *ngFor="let review of reviews">
            <p>{{review.reviewedBy}}</p>
            <p>{{review.reviewedDate}}</p>
            <p>{{review.comments}}</p>
          </div>
          <div class="col-md-4">

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
