:host {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  padding: 12px;
  margin: 4px;
  hr {
    margin: 0.5em 0;
  }
  .head {
    cursor: pointer;
    .title-container {
      margin: 0;
      text-align: center;
      white-space: nowrap;
      width: 100%;
      transition: width .4s ease;
      font-size: 1.5rem;
      &.collapsed {
        width: 0;
      }
      .title-details {
        display: inline-flex;
        .details{
          width: 0;
          opacity: 0;
          margin-left: 10px;
          transition: all 0.2s ease;
          &.collapsed {
            opacity: 1;
            transition: all 0.4s ease;
          }
        }
      }
    }
  }
  .body {
    max-height: calc(100vh - 130px);
    overflow: hidden;
    transition: max-height 0.6s ease;
    &.collapsed {
      transition: max-height 0.6s cubic-bezier(0, 1, 0, 1);
      max-height: 0px;
    }
  }
  app-plus-minus {
    position: absolute;
    top: 24px;
    right: 28px;
  }
}
