<div class="container" [ngClass]="{'banded': item.index % 2 === 0 }">
  <div class="index">#{{item.index}}</div>
  <div class="controls">
    <!-- 
        Add the code below to the div below to add alternating color to index numbers
       [ngClass]="{'banded': item.index % 2 === 0, 'not-banded': item.index % 2 === 1 }"
     -->
    <fa-icon class="envelope" matTooltip="Send {{item.firstName}} a message" [icon]="faEnvelope" (click)="message(item)"></fa-icon>
    <fa-icon class="external-link" matTooltip="Open {{item.firstName}}'s details" [icon]="faExternalLinkAlt" (click)="openInPage(item)"></fa-icon>
  </div>
  <div class="details">
    <div class="flex-container-vertical">
      <div class="flex-item">
        <div class="name">FROM:</div>
        <div class="value">{{item}}</div>
      </div>
    </div>
    <div class="flex-container-vertical">
      <div class="flex-item" *ngIf="item.createdOn">
        <div class="name">CREATED:</div>
        <div class="value">{{item.createdOn}}</div>
      </div>
      <div class="flex-item" *ngIf="item.updatedOn">
        <div class="name">UPDATED:</div>
        <div class="value">{{item.updatedOn}}</div>
      </div>
    </div>
    <div class="description flex-item">
      <div class="name">NOTE:</div>
      <div class="value">{{item.note}}</div>
    </div>
  </div>
</div>

<!-- 
  "PART_ID" NUMBER NOT NULL ENABLE,
    "NOTE_ID" NUMBER NOT NULL ENABLE,
    "NOTE"    VARCHAR2(4000 CHAR) NOT NULL ENABLE,
    "CREATED_ON" DATE DEFAULT SYSDATE NOT NULL ENABLE,
    "CREATED_BY" NUMBER NOT NULL ENABLE,
    "LAST_UPDATED_ON" DATE,
    "LAST_UPDATED_BY" NUMBER,
 -->