.details-container {
  display: inline-flex;
  .divider {
    font-size: 20px;
    transform: translateY(-2px);
  }
  .details{
    // font-size: 20px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    display: inline-flex;
    fa-icon {
      margin-left: 2px;
    }
    div {
      margin: 0 2px 0 8px;
    }
  }
}
