.details-container {
  display: inline-flex;
  .divider {
    font-size: 24px;
    transform: translateY(-2px);
  }
  .details{
    font-size: 20px;
    transform: translateY(4px);
    display: inline-flex;
    fa-icon {
      margin: 0 2px 0 12px;
    }
    div {
      margin-left: 2px;
    }
  }
}
