<div class="footer-container">
  <div class="flex-item">
    <p class="copyright">
      Copyright © {{year}}
      <!-- <a href="https://www.ulalaunch.com/">United Launch Alliance, LLC</a>. -->
    </p>
  </div>
  <div class="flex-item">
    <p class="copyright">All Rights Reserved.
    </p>
  </div>
  <!-- <div class="flex-item">
    <p class="copyright">
      <a href="https://www.ulalaunch.com/terms-and-conditions#anchor11"> Privacy</a> |
      <a href="https://www.ulalaunch.com/terms-and-conditions">Terms of Use</a>
    </p>
  </div> -->
</div>