<!-- <div class="form-group">
  <div class="col-md-6">
  </div>
</div>
{{column}} : {{isDesc}}
<div class="col-md-12">
  <table class="table table-responsive table-hover">
    <tr>
      <th class="pointer" (click)="sort('CategoryID')">
        Category ID
        <i class="fa" [ngClass]="{'fa-sort': column != 'CategoryID', 'fa-sort-asc': (column == 'CategoryID' && isDesc), 'fa-sort-desc': (column == 'CategoryID' && !isDesc) }"
          aria-hidden="true"> </i>
      </th>
      <th class="pointer" (click)="sort('CategoryName')">
        Category
        <input type="text" [(ngModel)]="categorySearch" (ngModelChange)="filterByProp('CategoryName', $event)" class="form-control"
          placeholder="Search" />

        <i class="fa" [ngClass]="{'fa-sort': column != 'CategoryName', 'fa-sort-asc': (column == 'CategoryName' && isDesc), 'fa-sort-desc': (column == 'CategoryName' && !isDesc) }"
          aria-hidden="true"> </i>
      </th>
      <th class="pointer" (click)="sort('Description')">
        Description
        <input type="text" [(ngModel)]="descriptionSearch" (ngModelChange)="filterByProp('Description', $event)" class="form-control"
          placeholder="Search" />

        <i class="fa" [ngClass]="{'fa-sort': column != 'Description', 'fa-sort-asc': (column == 'Description' && isDesc), 'fa-sort-desc': (column == 'Description' && !isDesc) }"
          aria-hidden="true"> </i>
      </th>
    </tr>
    <tr *ngFor="let item of filteredRecords | orderBy: {property: column, direction: direction}">
      <td>{{item.CategoryID}}</td>
      <td>{{item.CategoryName}}</td>
      <td>{{item.Description}}</td>
    </tr>
  </table>
</div> -->

<div class="card">
  <div class="container-fluid">
    <div class="card">
<form action="">
  <input type="text" class="form-control" placeholder="search name">
  <button type="submit" class="btn btn-success">Search</button>
</form>

<!-- <div>
  <h1>Search Results</h1>
  <div class="row">
    <div class="col-md-2">
      first name
    </div>
    <div class="col-md-2">
      last name
    </div>
    <div class="col-md-2">
      <select name="" id="">
            <option>Select Company</option>
            <option>ULA</option>
            <option>Air Force</option>
          </select>
    </div>
    <div class="col-md-2">
      <select name="" id="">
            <option>Select Team</option>
            <option>MAT</option>
            <option>LE</option>
          </select>
    </div>
    <div class="col-md-2">
      <select name="" id="">
            <option>Select Role</option>
            <option>Lead</option>
            <option>Reviewer</option>
          </select>
    </div>
    <div class="col-md-2">
       <button class="btn btn-primary"> Add</button> or update if they are in the system 
    </div>
  </div>
    </div> -->
    

    </div>
    <div class="card">
      <div>
        <form class="form-inline" [formGroup]="addUserForm" (ngSubmit)="saveUser()">
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <input class="form-control" type="text" name="firstName" formControlName="firstName" placeholder="First Name">
                <input class="form-control" type="text" name="lastName" formControlName="lastName" placeholder="Last Name">
                <input class="form-control" type="text" name="email" formControlName="email" placeholder="Email">
                <input class="form-control" type="text" name="company" formControlName="company" placeholder="Company">
                <input class="form-control" type="text" name="supplierName" formControlName="supplierName" placeholder="Supplier">
                <input class="form-control" type="text" name="team" formControlName="team" placeholder="Team">
                <input class="form-control" type="text" name="role" formControlName="role" placeholder="Role">

             
                <button class="btn  btn-primary mr-2" type="submit" (click)="modalRef.hide()" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Save</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <h1>Application Users</h1>
      <!-- move from tables to divs with flex. Create a reusable component to handle tableature lists and associated impotation of data -->
      <table class="table table-stripped">
        <thead>
          <tr>
            <td>
              Full Name
            </td>
            <td>
              Company
            </td>
            <td>
              Team
            </td>
            <td>
              Supplier
            </td>
            <td>
              Role
            </td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>
              {{user.firstName}}
            </td>
            <td>
              {{user.company}}
            </td>
            <td>
              {{user.team}}
            </td>
            <td>
              {{user.supplierName}}
            </td>
            <td>
              {{user.roleName}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>

<div class="card">
<table>
  <thead>
    <tr>
      <td>part Name</td>
      <td>SUpplier Code</td>
      <td>vehicle Program</td>
      <td>vehicle System</td>
      <td>Part Name</td>
      <td>drawing Number</td>
      <td>supplier Name</td>
      <td>HCM comment</td>
      <td>part Active Flag</td>
      <td>created On</td>
      <td>created By</td>
      <td>last Updated On</td>
      <td>last Updated By</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let hcmList of hcmLists">
      <td>
        {{hcmList.partNo}}
      </td>
      <td>
        {{hcmList.supplierCode}}
      </td>
      <td>
        {{hcmList.vehicleProgram}}
      </td>
      <td>
        {{hcmList.vehicleSystem}}
      </td>
      <td>
        {{hcmList.partName}}
      </td>
      <td>
        {{hcmList.drawingNo}}
      </td>
      <td>
        {{hcmList.supplierName}}
      </td>
      <td>
        {{hcmList.hcmComment}}
      </td>
      <td>
        <!-- {{hcmList.reviewType}} -->
      </td>
      <td>
        {{hcmList.partActiveFlag}}
      </td>
      <!-- <td>
        {{hcmList.partActiveStartDate}}
      </td>
      <td>
        {{hcmList.partActiveEndDate}}
      </td>
      <td>
        {{hcmList.partActiveRangeEnteredBy}}
      </td>
      <td>
        {{hcmList.partActiveRangeComments}}
      </td> -->
      <td>
        {{hcmList.createdOn}}
      </td>
      <td>
        {{hcmList.createdBy}}
      </td>
      <td>
        {{hcmList.lastUpdatedOn}}
      </td>
      <td>
        {{hcmList.lastUpdatedBy}}
      </td>
    </tr>
  </tbody>
</table>
</div>
