.mb-0>a {
  display: inline-block;
  width: 100%;
  padding: 0.75rem 1.25rem;
}

.card-header {
  padding: 0;
}
.card-body {
  background-color: #fff;
}

strong {
  float: right;
}
li {
  border-bottom: 1px solid;
  padding: 4px 0;
}

#accordion .btn-link {
  width: 100%;
  text-align: left;
  text-decoration: none;
  font-weight: bold;
}

.card {
  padding-top: 0;
}

.links img {
  width: 24px;
}

label {
  display: contents;
}

textarea {
  width:  100% !important;
}

.btn-link span {
  float: right;
}

.card-block {
  padding: 1.25rem;
}

.inline {
  display: inline-block;
}

h5 {
  margin-bottom: 0;
}

thead tr td {
  font-weight: bold;
}

.padding {
  padding: 20px 120px;
}

.spacing .form-control {
  margin: 10px; 
}

#collapseOne0 .card-body{
  min-height: 428px;

}

.display-inline {
  display: inline-flex;
}
.btn-success {
  margin-left: 5px;
}

.modal-dialog {
  max-width: 675px !important;
}
