<div class="container-fluid">
  <div class="center">
    <div class="welcome-container">
      <div class="welcome">Welcome to the</div>
      <div class="title">Automated Review System</div>
    </div>
    <app-card>
      <form name="form" (ngSubmit)="login()" #loginForm="ngForm" novalidate>
        <div class="inputs">
          <input type="text" placeholder="AD Username" name="username" [(ngModel)]="model.username" #username="ngModel"
            required/>
          <input type="password" placeholder="Password " name="password" [(ngModel)]="model.password" #password="ngModel" required/>
        </div>
        <button mat-button type="submit">LOG IN</button>
      </form>
      <div>
        <div *ngIf="errMsg" style="color:indianred; font-weight: bold">{{errMsg}}</div>
      </div>
    </app-card>
  </div>
</div>
