<div *ngIf="showNav()">
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="https://www.ulalaunch.com/">
      <img src="./assets/images/ULA-logo.png">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="true||auth.isLoggedIn()">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="/dashboard" class="nav-link" routerLinkActive="active">
            Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/reviews" class="nav-link" routerLinkActive="active">
            Reviews
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false"> Reports</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/reports/review-status">Review Status Report</a>
            <a class="dropdown-item" routerLink="/reports/mission-status">Mission Review Status </a>
            <a class="dropdown-item" href="#">Supplier Review Status</a>
            <a class="dropdown-item" href="#">Whiteboard/Dialog Report </a>
            <a class="dropdown-item" href="#">End Item Parts Review Status</a>
            <a class="dropdown-item" href="#">Review Item Discrepancy (RID) Report</a>
          </div>
        </li>
        <li class="nav-item">
          <a routerLink="/admin" class="nav-link" routerLinkActive="active">
            Admin
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/whiteboard" class="nav-link" routerLinkActive="active">
            Whiteboard
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <app-dropdown></app-dropdown>
        <!-- <button class="btn btn-primary">Log out</button> -->
      </ul>
    </div>
  </nav>
  <div class="banner" *ngIf="auth.isLoggedIn()"> Welcome to the Automated Review System </div>
</div>