<mat-toolbar class="navbar">
  <a class="navbar-brand" href="https://www.ulalaunch.com/">
    <img src="./assets/images/ULA-logo.png">
    <div class="banner" *ngIf="isLoggedIn$ | async">Automated Review System</div>
  </a>
  <button mat-button routerLink="/dashboard" class="nav-link" routerLinkActive="active">
    Dashboard
  </button>
  <button mat-button routerLink="/reviews" class="nav-link" routerLinkActive="active">
    Reviews
  </button>
  <button mat-button routerLink="/admin" class="nav-link" routerLinkActive="active">
    Admin
  </button>
  <div class="filler">
  </div>
</mat-toolbar>