<div class=" container-fluid  card">
  <div>
    <h3> Whiteboard</h3>
    <!-- rather than have multiple tables typed out, build a resuable virtual scroll component (if data load time and browser performance requires it) that allows for unlimited data to be displayed in a scrollable field -->
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Item</th>
          <th scope="col">Initiator</th>
          <th scope="col">Ref. Document</th>
          <th scope="col">Issue/Question</th>
          <th scope="col">Action</th>
          <th scope="col">Assign To</th>
          <th scope="col">Status</th>
          <th scope="col">Response</th>
          <th scope="col">Response By</th>
          <th scope="col">Date Opened</th>
          <th scope="col">Date Closed</th>
          <th scope="col">RID issued?</th>
          <th scope="col">Closed Comments</th>
          <th scope="col">Closed By</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let whiteboard of whiteboards">
          <td>{{whiteboard.id}}</td>
          <td>{{whiteboard.initiator}}</td>
          <td>{{whiteboard.document}}</td>
          <td>{{whiteboard.issues}}</td>
          <td>{{whiteboard.action}}</td>
          <td>{{whiteboard.assignToo}}</td>
          <td>
            <select class="form-control">
              <option>Open</option>
              <option>Closed</option>
            </select>
          </td>
          <td>{{whiteboard.response}}</td>
          <td></td>
          <td>{{whiteboard.openDate}}</td>
          <td>{{whiteboard.closedDate}}</td>
          <td>{{whiteboard.ridIssue}}</td>
          <td>{{whiteboard.closedComment}}</td>
          <td>{{whiteboard.closedBy}}</td>


        </tr>
      </tbody>
    </table>
  </div>
</div>
