<div class="container-fluid">
  <div class="card">
    <!-- <app-flex-table [tabledata]="data" (outEvent)="tableEvents($event)"></app-flex-table> -->
  </div>
</div>
<!-- open a modal window by clicking button-->






<div>

  <table class="table striped-table">
    <thead>
      <tr>
        <td>Document Name</td>
        <td>DOcument Type</td>
        <td>Assign To</td>
        <td>Reviewed By</td>
        <td>Reviewed Date</td>
        <td>Reviewed</td>
        <td>Number Of Issues</td>
        <td>Comments</td>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let review of reviews">
        <td>{{review.id}}</td>
        <td>{{review.documentName}}</td>
        <td>{{review.documentType}}</td>
        <td>{{review.assignTo}}</td>
        <td>{{review.reviewedBy}} </td>
        <td>{{review.reviewedDate}}</td>
        <td>{{review.reviewed}}
<div class="form-group">
  <input type="checkbox" (click)="openModal(template)">Complete
</div>
        </td>
        <td>{{review.numberOfIssues}}</td>
        <td>
          <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#bootstrapModel">click to open</button>

        </td>
      </tr>
    </tbody>

  </table>
  <!-- <div *ngFor="let reviewDetail of reviewDetails">
      {{reviewDetail.firstName}}
       {{reviewDetail.lastName}}
       {{reviewDetail.company}}
       {{reviewDetail.team}}
       {{reviewDetail.technology}}
       {{reviewDetail.role}}

  </div> -->
</div>






<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-inline" #form="ngForm" (ngSubmit)="editReview(review)">

      <input class="form-control mr-2" type="text" name="weight" [(ngModel)]="review.comments" placeholder="Weight" step="any"
        min="0" required>
<!--          
        <input class="form-control mr-2" type="text" name="weight" value="auth.getUserName()" [(ngModel)]="review.reviewedBy" placeholder="Weight" step="any"
          min="0" required> -->

      <button class="btn btn-sm btn-primary mr-2" type="submit" (click)="modalRef.hide()" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Save</button>
      <button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Cancel</button>
    </form>
  </div>
</ng-template>