<div flex class="flex-container">
  <div class="flex-item">
    <app-card>
      <h3 title>Reviews
        <span *ngIf="userInfo"> Assigned to {{userInfo.displayName | titlecase}}</span>
      </h3>
      <app-flex-table [tabledata]="reviewData" (outEvent)="tableEvents($event)"></app-flex-table>
    </app-card>
  </div>
  <div class="flex-item">
    <div class="nested-container">
      <div class="flex-item">
        <app-card>
          <h3 title>Messages
          </h3>
        </app-card>
      </div>
      <div class="flex-item">
        <app-card>
          <h3 title>RIDs
          </h3>
        </app-card>
      </div>
    </div>
  </div>
</div>
