$white: #fff;
$accent-yellow: #fdb100;
$accent-light: #ffedc4;
$alto: rgb(180, 206, 231);
$alabaster: #fafafa;
$color_mine_shaft_approx: #333;
$black: #000;
$color_nobel_approx: #b5b5b5;

$ULA_BLACK: #000000;
$ULA_RED: #C8102E;
$ULA_SILVER: #63666A;
$ULA_BLUE: #002F6C;
$ULA_SKY-BLUE: #3E87CB;